body {
    background-color: rgb(69, 76, 87);
}

.heading {
    text-align: center;
}
.playground-heading {
    color: darkcyan;
    font-family: 'arial', cursive;
    font-size: 5rem;
}

.main {
border: 3px solid grey;
width: 55%;
margin: 0 auto;
}

.main div {
height: 200px;
width: 200px;
border: 1px solid black;
border-radius: 50%;
margin: 2rem auto;
}
#red {
border-color: red;
}
#yellow {
border-color: yellow;
}
#green {
    border-color: green;
}

.footer {
    color: rgb(195, 226, 43);
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}